@import "./assets/card.scss";

.rssFeedForm {
    margin-top: 25px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.text-for-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

 .spinner-cmp {
     padding-left: 5px;
 }

.flex {
    display: flex;
    height: 100%;
}
    
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 35px;
    margin: 20px 0;
}
